@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

html {
  background-color: #ffffff;
  font-size: 16px;
  font-family: "Inter", "sans-serif";
}
body {
  margin: 0px;
  padding: 0px;
}
@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 930px) {
  html {
    font-size: 10px;
  }
}
